@charset "UTF-8";
/*configurações gerais */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html, body{
    width:100vw;
    height:100vh;
    background-color:darkgray;
    background-size:cover;
    background-repeat:no-repeat;
}
h1{
    color:white;
    text-shadow:2px 2px 0px black;
    text-align: center;
    padding:10px;
}